{%load static%}
<html>
<head>
    <!-- background: transparent url(http://web-sonick.zz.mu/images/sl/globe.png)
		no-repeat top left; -->
    <!-- for html code page & css check https://codepen.io/Sonick/pen/HthaI -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <title>Simple Django, Heroku Tut Using Github Repo</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <style>
        body {
            background: #310404 url('{%static "images/maxresdefault.jpg"%}')no-repeat center center fixed;
        }
        </style>
</head>
<body>
    <div class="sp-container">
        <div class="sp-content">
            <div class="sp-globe"></div>
            <h2 class="frame-1">AWESOME</h2>
            <h2 class="frame-2">DJANGO PROJECT WITH GITHUB REPO</h2>
            <h2 class="frame-3">RUN WITH HEROKU</h2>
            <h2 class="frame-4">TEST IT!</h2>
            <h2 class="frame-5">
                <span>FORK,</span>
                <span>CHANGE,</span>
                <span>EXPERIANCE.</span>
            </h2>            
        </div>
       
    </div>    
    
</body>
</html>